<!-- TABLA CON ANGULAR-MATERIAL -->

<div class="container">
  <h2>listado productos clientes</h2>
  <button class="btn" type="button" mat-raised-button color="primary" (click)="reseteo()" (click)="agregarRegistros.show()">Agregar</button>
  <br>
    <br>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Portatil">
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell  *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          <td><button>borrar</button></td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button  (click)="editar(element.id)" (click)="agregarRegistros.show()">editar</button>                             
            <button  (click)="borrar(element.id)" >Borrar</button>
          </mat-cell>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  
  
  <nm-modal-window #agregarRegistros>
    <h1 header>{{tituloModal}} Registros</h1>
    <div body>
      <form [formGroup]="profileForm"  (ngSubmit)="onSubmit()">
        <label>
          Product Id:
          <input type="text" disabled formControlName="id">
        </label>
        <br>
        <label>
          Product Name:
          <input type="text" formControlName="name">
        </label>
      <br>
        <label>
          Descripcion:
          <input type="text" formControlName="description">
        </label>
         <br>
      
          <span>Precio<input type="number" formControlName="price"></span>
                  
          <br>
          <button *ngIf=!actualizar type="submit" [disabled]="!profileForm.valid">Agregar</button>
          <button *ngIf=actualizar >editar</button>
           <br>
      </form>
      <br>
      <input type="button" value="Close Me"(click)="actualizar=false" (click)="agregarRegistros.hide()" />
    </div>
    
  </nm-modal-window>

  